body {
	font-family: "Comfortaa", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: black;
}
/*TODO: on nodige shit verwijderen*/
.chipback {
	background-image: url("/data/chip/furretbg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.centersudoku {
    margin: 0;
    position: absolute;
    top: 57%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ksoftgradient {
	background: linear-gradient(30deg, #F05146, #C140BF);
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.ksoftgradient-center {
	background: linear-gradient(30deg, #F05146, #C140BF);
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}
.discordblack {
    background-color: #36393f;
    color: #dbdedc;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
.zoom:active {
  -ms-transform: scale(0.8); /* IE 9 */
  -webkit-transform: scale(0.8); /* Safari 3-8 */
  transform: scale(0.8); 
}
figure {
    display: inline-block;
}
figcaption {
    text-align: center;
}

figure {
    display: inline-block;
}
figcaption {
    text-align: center;
}
.c {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  color: #fff;
  padding: 12px 0;
}
.breadcrumb-bg {
    background: rgba(255,255,255,0.85);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.07);
}